:root{
  --cell-hover: rgba(184, 177, 177, 0.248);
  --cell-active: rgba(163, 157, 157, 0.514);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
}

#game-container {
  text-align: center;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  margin-bottom: 20px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border: 1px solid #000000;
  font-size: 2rem;
  cursor: pointer;
}
.cell:hover{
  background-color: var(--cell-hover)
}
.cell:active{
  background-color: var(--cell-active)
}
#restart-button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

#message {
  margin-top: 20px;
  font-size: 1.2rem;
}
